.chat_online{
    margin-bottom: 10px;
}

.chat_online_friend_container{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    
}

.chat_online_img_container{
    position: relative;
    margin-right: 10px;
}

.chat_online_image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat_online_badge{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    top: 0px;
    right: 0;
    border: 2px solid white;
}

.chat_online_name{
    font-weight: 500;
    letter-spacing: 1px;
}

.chat_online_friend_container:hover{
    background-color: rgb(196, 228, 238);
    border-radius: 5px;
}