.inbox_container{
    margin-top: 3px;
    color: whitesmoke;
    padding: 10px 5px;
    margin-bottom: 0;
}

.notification_text{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 2px 5px;
}

.notification_text:hover{
    background: white;
    color: black;
    transition: 0.3s;
}
